<div class="row">
  <div class="col-sm-12">
    <h2>merry christmas<span class="small"> and a happy new year</span></h2>
    <p>maybe we should have some text here, like a little "oh hey, thanks for stopping by.  here's what's been going on."  ...or something?</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
  <% ApplicationHelper::MONTHS.each do |month| %>
    <div class="month col-sm-3">
      <%= image_tag "#{month[:image]}", :alt_text => "#{month[:caption]}" %>
      <p class="hover-text">
        <%= "#{month[:name]}" %>
      </p>
    </div>
  <% end %>
  </div>
</div>