<div class="col-sm-12">
  <h2>merry christmas<span class="small"> and a happy new year</span></h2>
</div>

<div class="row">
  <div class="col-sm-12">
  <% ApplicationHelper::MONTH_IMAGES.zip(@months).each do |image, month| %>
    <div class="month col-sm-3">
      <%= image_tag "#{image[:image]}", :alt_text => "#{image[:name]}" %>
      <p class="hover-text">
        <%= month %>
      </p>
    </div>
  <% end %>
  </div>
</div>