<body id="home">
<div class="container-fluid">
  <h1 id="merry-christmas">merry christmas<span class="small"> and a happy new year</span></h1 id="merry-christmas">

  <div class="row">
    <div class="col-md-7">
      <div id="home-photo">
        <%= image_tag "family.jpg" %>
      </div>
      <div class="col-sm-12" id="words">
        <div class="col-sm-9" >
          <p>happy holidays, friends!  we're so glad that you're a part of our lives and are glad you stopped by to see what's been going on in ours.</p>
          <p>words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words </p>
        </div>
        <div class="col-sm-3" id="calendar-button">
          <%= link_to by_the_month_path do %>
            <h2>2015</h2>
            in review <i class="fa fa-arrow-right"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div id="snow-globe">
        <%= image_tag "1208_jefferson.jpg", :id => "house" %>
        <%= image_tag "https://media.giphy.com/media/4M6xlFxZskH8A/giphy.gif", :id => "snow" %>
        <div id="address">
          <h3>We've moved!</h3>
          <p>1208 Jefferson Ave. <br> Louisville, CO 80027</p>
        </div>
      </div>
      <div id="map">map or game or?</div>
    </div>
  </div>
</div>
</body>