<body id="home-16">
  <div class="container">
    <div class="page-header">
      <h1 id="16-headline">2016 sucked<span class="small"> but we still managed to have some fun.</span></h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">January</h4>
            </div>
            <div class="timeline-body">
              <p>Snow, MCA.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">February</h4>
            </div>
            <div class="timeline-body">
              <p>Snow, Meemo visit</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">March</h4>
            </div>
            <div class="timeline-body">
              <p>Vegas, snow, Easter.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">April</h4>
            </div>
            <div class="timeline-body">
              <p>In April, Jude turned two and we closed on our first house!</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">May</h4>
            </div>
            <div class="timeline-body">
              <p>Chris birthday, house</p>
              <hr>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">June</h4>
            </div>
            <div class="timeline-body">
              <p>Jude and Chris camping, Father's Day, touch a truck.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">July</h4>
            </div>
            <div class="timeline-body">
              <p>Colorado Springs, Iowa, Chip and Charlene visit</p>
            </div>
          </div>
        </li>
        <li class="timeline">
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">August</h4>
            </div>
            <div class="timeline-body">
              <p>Meemo, Papaw, Zoey visit, Grandpa visit, Austin at Bronco stadium</p>
            </div>
          </div>
        </li>
        <li class="timeline">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">September</h4>
            </div>
            <div class="timeline-body">
              <p>Portland, Tacoma, lauren's birthday, Hochella.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">October</h4>
            </div>
            <div class="timeline-body">
              <p>Nuggets game, big boy bed, Halloween.</p>
            </div>
          </div>
        </li>
        <li class="timeline">
          <div class="timeline-badge info"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">November</h4>
            </div>
            <div class="timeline-body">
              <p>Children's museum, Thanksgiving in Fort Wayne.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-calendar"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">December</h4>
            </div>
            <div class="timeline-body">
              <p>it's cold.</p>
            </div>
          </div>
        </li>
    </ul>
  </div>
</body>
