@font-face {
  font-family: 'Channel';
  src: font-url("Channel.ttf");
  src: font-url("Channel.ttf?#iefix") format("embedded-opentype"),
    font-url("Channel.ttf") format("truetype"),
    font-url("Channel.woff") format("woff"),
    font-url("Channel.svg#Channel") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nightmare_before_christmas';
  src: font-url("nightmare_before_christmas.ttf");
  src: font-url("nightmare_before_christmas.ttf?#iefix") format("embedded-opentype"),
    font-url("nightmare_before_christmas.ttf") format("truetype"),
    font-url("nightmare_before_christmas.woff") format("woff"),
    font-url("nightmare_before_christmas.svg#nightmare_before_christmas") format("svg");
  font-weight: normal;
  font-style: normal;
}

// index page
#home {
  font-family: "Channel";
  text-align: center;
  #two016 {
    font-size: 75px;
  }
  #two015 {
    font-size: 45px;
  }
  a:hover {
    cursor: pointer;
    text-decoration: none;
  }
  .year {
    margin: 40% 0px;
  }
}