.month {
  height: 350px;
  overflow: hidden;
  background-color: #ddd;
  margin: 0 0 15px 70px;
  border-radius: 200px;
  &:hover {
    background-color: #fff;
  }
  img {
    max-height: 350px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .hover-text {
    display: none;
    margin: 0;
    color: #fff;
    background-color: rgba(50, 50, 50, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    padding: 150px 15px 15px 15px;
    text-align: center;
    font-size: 20px;
  }
}
