@font-face {
  font-family: 'Channel';
  src: font-url("Channel.ttf");
  src: font-url("Channel.ttf?#iefix") format("embedded-opentype"),
    font-url("Channel.ttf") format("truetype"),
    font-url("Channel.woff") format("woff"),
    font-url("Channel.svg#Channel") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nightmare_before_christmas';
  src: font-url("nightmare_before_christmas.ttf");
  src: font-url("nightmare_before_christmas.ttf?#iefix") format("embedded-opentype"),
    font-url("nightmare_before_christmas.ttf") format("truetype"),
    font-url("nightmare_before_christmas.woff") format("woff"),
    font-url("nightmare_before_christmas.svg#nightmare_before_christmas") format("svg");
  font-weight: normal;
  font-style: normal;
}

// background images

body#home {
  background: url(http://wallpapercave.com/wp/3TiF5k6.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// homepage

body#home {
  color: #fff;
}

#home-body {
  margin: 40px;
}

#left-body {
  padding-left: 30px;
}

#words {
  background:#7f7f7f;
  background:rgba(255,255,255,0.5);
  color: black;
  padding: 20px;
  border-radius: 10px;
}

#merry-christmas {
  font-family: Channel;
  font-size: 55px;
  margin: 50px;
  span {
    color: #fff;
    font-size: 15px;
  }
}

#snow-globe {
  margin: 30px;
  img {
    margin-bottom: -75px;
    height: 400px;
    max-width: 400px;
    border-radius: 200px;
  }
  #house {
    position: relative;
    z-index: 5;
  }
  #snow {
    box-shadow: inset 0 0 10em #fff;
    position: relative;
    margin-top: -400px;
    z-index: 30;
  }
  #address {
    position: relative;
    z-index: 999;
    padding: 7px;
    width: 350px;
    text-align: center;
    background: linear-gradient(to top, #333, #666);
    border-radius: 60px 60px 10px 10px;
    h3 {
      font-family: 'Channel';
      padding: 10px;
    }
    p {
      font-size: 16px;
    }
  }
}

#game {
  margin: 10px;
  height: 320px;
}

#myCanvas {
  background:#7f7f7f;
  background:rgba(255,255,255,0.5);
  border-radius: 10px;
}

#game-text {
  text-align: center;
  font-family: 'Channel';
}

#home-photo {
  border-radius: 10px;
  margin-bottom: 20px;
  img {
    clear: both;
    max-width: 100%;
    border-radius: 10px;
  }
}

#calendar-button {
  padding: 10px;
  text-align: center;
  background: linear-gradient(to bottom, #006400, #4c924c);
  border-radius: 50px;
  font-family: "Channel";
  h2 {
    margin: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}

#ribbon {
  width: 100%;
  margin-left: 25%;
  margin-top: 50px;
  font-family: "Channel";
  text-align: center;
  font-size: 50px;
  p {
    float: left;
    padding: 13px;
  }
  .tada {
    float: left;
    width: 100px;
  }
}

// year in review

.month {
  position: relative;
  height: 315px;
  overflow: hidden;
  background-color: #ddd;
  margin: 15px 0;
  border-radius: 200px;
  &:hover {
    background-color: #fff;
  }
  img {
    height: 350px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .hover-text {
    margin: 0;
    color: #fff;
    background-color: rgba(50, 50, 50, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    padding: 130px 15px 15px 15px;
    font-family: "Channel";
    text-align: center;
    font-size: 20px;
  }
}


// modal

.modal {
  color: #666;
}