@font-face {
  font-family: 'Channel';
  src: url(/assets/Channel.ttf);
  src: url(/assets/Channel.ttf?#iefix) format("embedded-opentype"),
    url(/assets/Channel.ttf) format("truetype"),
    url(/assets/Channel.woff) format("woff"),
    url(/assets/Channel.svg#Channel) format("svg");
  font-weight: normal;
  font-style: normal;
}

// background image on homepage

body#home {
  background: url(http://bgfons.com/upload/christmas_texture2693.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#calendar {
  background: url(http://www.twitterevolutions.com/bgs/red-christmas-lights-twitter-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// homepage

body#home {
  color: #fff;
}

#home-body {
  margin: 40px;
}

#words {
  background:#7f7f7f;
  background:rgba(255,255,255,0.5);
  color: black;
  padding: 20px;
  border-radius: 10px;
}

#merry-christmas {
  font-family: Channel;
  font-size: 55px;
  margin: 50px;
  span {
    color: #fff;
    font-size: 15px;
  }
}

#snow-globe {
  margin: 30px;
  img {
    margin-bottom: -75px;
    height: 400px;
    max-width: 400px;
    border-radius: 200px;
  }
  #house {
    position: relative;
    z-index: 5;
  }
  #snow {
    box-shadow: inset 0 0 10em #fff;
    position: relative;
    margin-top: -350px;
    z-index: 30;
  }
  #address {
    position: relative;
    z-index: 999;
    padding: 7px;
    margin-left: 25px;
    width: 350px;
    text-align: center;
    background: linear-gradient(to top, #333, #666);
    border-radius: 60px 60px 10px 10px;
    h3 {
      font-family: 'Channel'
    }
    p {
      font-size: 16px;
    }
  }
}

#map {
  margin: 10px;
  height: 300px;
  background-color: #ddd;
}

#home-photo {
  border-radius: 10px;
  margin-bottom: 20px;
  img {
    clear: both;
    max-width: 100%;
    border-radius: 10px;
  }
}

#calendar-button {
  padding: 10px;
  text-align: center;
  background: linear-gradient(to bottom, #006400, #4c924c);
  border-radius: 50px;
  font-family: "Channel";
  h2 {
    margin: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}

// by-the-month page

.month {
  float: left;
  position: relative;
  width: 23%;
  height: 300px;
  overflow: hidden;
  background-color: #ddd;
  padding: 10px;
  margin: 0 0 15px 20px;
  border-radius: 200px;
  &:hover {
    background-color: #fff;
  }
  img {
    width: 320px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .hover-text {
    display: none;
    margin: 0;
    color: #fff;
    background-color: rgba(50, 50, 50, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    padding: 130px 15px 15px 15px;
    text-align: center;
    font-size: 20px;
  }
}
